<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NicaBiometrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NicaBiometrics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <applicationSettings>
    <NicaBiometrics.Properties.Settings>
      <setting name="LABEL_SAVE" serializeAs="String">
        <value>Save</value>
      </setting>
      <setting name="LABEL_REFRESH" serializeAs="String">
        <value>Refresh</value>
      </setting>
      <setting name="LABEL_PORT" serializeAs="String">
        <value>Port</value>
      </setting>
      <setting name="LABEL_EXIT" serializeAs="String">
        <value>Exit</value>
      </setting>
      <setting name="Connect" serializeAs="String">
        <value />
      </setting>
      <setting name="LABEL_CONNECT" serializeAs="String">
        <value>Connect</value>
      </setting>
      <setting name="Device" serializeAs="String">
        <value>LABEL_DEVICE</value>
      </setting>
      <setting name="LABEL_DEVICE" serializeAs="String">
        <value>Device</value>
      </setting>
      <setting name="LABEL_DEVICE_SETTING" serializeAs="String">
        <value>Device</value>
      </setting>
      <setting name="LABEL_SERVER_SETTING" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="LABEL_DEVICE_ADDRESS" serializeAs="String">
        <value>Device IP Address</value>
      </setting>
      <setting name="LABEL_SERVER_IPADDRESS" serializeAs="String">
        <value>Server  domain</value>
      </setting>
      <setting name="LABEL_NB" serializeAs="String">
        <value>NB</value>
      </setting>
      <setting name="LABEL_APP_NAME" serializeAs="String">
        <value>Nica Biometrics</value>
      </setting>
      <setting name="LABEL_CONNECT_VIA_NETWORK" serializeAs="String">
        <value>Connect via network</value>
      </setting>
      <setting name="LABEL_CONNECT_VIA_USB" serializeAs="String">
        <value>Connect via USB</value>
      </setting>
      <setting name="LABEL_COMM_KEY" serializeAs="String">
        <value>Comm key</value>
      </setting>
      <setting name="LABEL_DEVICE_ID" serializeAs="String">
        <value>Device id</value>
      </setting>
      <setting name="LABEL_CONNECTING_TO_DEVICE" serializeAs="String">
        <value>Connecting to device...</value>
      </setting>
      <setting name="VALUE_DEVICE_NAME" serializeAs="String">
        <value>ZKT 629</value>
      </setting>
    </NicaBiometrics.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <NicaBiometrics.Properties.Settings>
      <setting name="_deviceIpAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="_devicePort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="_serverIpAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="_serverPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="_connectViaNet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_connectViaUSB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_usbDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="_connected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_commKey" serializeAs="String">
        <value />
      </setting>
      <setting name="_deviceId" serializeAs="String">
        <value />
      </setting>
      <setting name="_machineNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="_serialNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="_macAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="_biometricType" serializeAs="String">
        <value />
      </setting>
      <setting name="_deviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="_connectedServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_serverAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="_serverMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="_serverTimeinUrl" serializeAs="String">
        <value>/timeIn</value>
      </setting>
      <setting name="_serverTimeoutUrl" serializeAs="String">
        <value>/timeOut</value>
      </setting>
      <setting name="_serverEmployeeUrl" serializeAs="String">
        <value>/companies/${companyId}/employees</value>
      </setting>
      <setting name="_serverCompanyValid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_serverCompanyUrl" serializeAs="String">
        <value>/companies</value>
      </setting>
      <setting name="_serverUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="_serverPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="_serverJarLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="_serverState" serializeAs="String">
        <value>False</value>
      </setting>
    </NicaBiometrics.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
